.App {
  font-family: sans-serif;
  text-align: center;
}

/* .card--img {
  width: 200px;
} */

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
}

html,
body {
  background: #ffe16e;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}